<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

<nav class="nav nav-pills nav-justified">
    <a class="nav-item nav-link active" href="http://localhost:3000/inicio">Inicio</a>
    <a class="nav-item nav-link" href="http://localhost:3000/register">Registrar usuario</a>
    <a class="nav-item nav-link" href="http://localhost:3000/login">Iniciar Sesión</a>
    <a class="nav-item nav-link" href="http://localhost:3000/addroles">Agregar Roles</a>
    <a class="nav-item nav-link" href="http://localhost:3000/tablausuariosconrol">Tabla de Roles</a>
    <a class="nav-item nav-link" href="http://localhost:3000/tablaeventos">Tabla de Eventos</a>
    <a class="nav-item nav-link" href="http://localhost:3000/registroSO">Registro de Sistema Operativo</a>
    <a class="nav-item nav-link" href="http://localhost:3000/registroeventos">Registro eventos</a>
    <a class="nav-item nav-link" href="http://localhost:3000/llamareventos">Tabla sistema operativos</a>
</nav>
<br>
<% const existeMensaje = typeof mensajeerror !== "undefined" %>
<% if(existeMensaje){ %>
    <div class="alert alert-danger" role="alert">
            <p>Mensaje Error</p>
         
                <span><%= mensajeerror %></span>
                <br>
          
           
      </div>
<% } %>
<% const existeMensajeok = typeof mensajeok !== "undefined" %>
<% if(existeMensajeok){ %>
    <div class="alert alert-success" role="alert">
            <p>Mensaje</p>
            <span> <%= Object.values(mensajeok)%> </span>
           
      </div>
<% } %>
<div class="container">
    <form action="/eventos/gettablaEventos" method="GET">
        <div class="row">
            <div class="col-sm-1">
                <strong>
                    <label class="checkbox-inline">BUSCAR</label>
                </strong>
            </div>
            <div class="col-sm-6">
                <input name="busqueda" type="text" class="form-control" id="consulta">
            </div>
            <div class="col-sm-3">
                <button class="btn btn-success">Buscar</button>
            </div>
        </div>
    </form>
</div>
<br>
<% const existearray = typeof arrayEventos !== "undefined" %>
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table class="table">
                <thead class="bg-primary">
                    <tr>
                        <th style="width: 10%; background-color: #3F51B5 !important; color: white" scope="col">ID evento</th>
                        <th style="width: 40%; background-color: #3F51B5 !important; color: white" scope="col">Nombre evento</th>
                        <th style="width: 40%; background-color: #3F51B5 !important; color: white" scope="col">Fecha nacimiento</th>
                        <th style="width: 40%; background-color: #3F51B5 !important; color: white" scope="col">Latitud</th>
                        <th style="width: 40%; background-color: #3F51B5 !important; color: white" scope="col">Longitud</th>
                        <th style="width: 40%; background-color: #3F51B5 !important; color: white" scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(existearray){ %>
                    <% arrayEventos.forEach( (eventos)=> { %>
                    <tr>
                        <th scope="row">
                            <%= eventos.event_id %>
                        </th>
                        <td>
                            <%= eventos.nombre %>
                        </td>
                        <td>
                            <%= eventos.fecha %>
                        </td>
                        <td>
                            <%= eventos.latitud %>
                        </td>
                        <td>
                            <%= eventos.longitud %>
                        </td>
                        <td>
                            <a href="http://localhost:3000/eventosporhijo/geteventbyid?id=<%= eventos.event_id %>" class="btn btn-primary" role="button" aria-pressed="true">Ver</a>
                            <a href="http://localhost:3000/eventos/eliminareventos?id=<%= eventos.event_id %>" class="btn btn-danger" role="button" aria-pressed="true">Eliminar</a>
                        </td>

                    </tr>
                    <% }) %>
                    <% }%>
                </tbody>
            </table>
        </div>
    </div>
</div>